### APP-SPECIFIC
.github
*.md
build-tools/*
docs/*
architecture/*
networks/*


### GENERAL EXCLUSIONS ###

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# IDE Exclusions
.devcontainer
.vscode
.vscode-upload.json
.idea

# Python
.pytest_cache
