version: '3.7'

services:
  validator-0:
    image: ${CHEQD_NODE_IMAGE}:${DOCKER_IMAGE_VERSION}
    ports:
      - target: 26656
        published: 26656    # Tendermint peer-to-peer (P2P) port
      - target: 26657
        published: 26657    # Tendermint RPC port
      - target: 1317
        published: 1317     # Cosmos REST API port
      - target: 9090
        published: 9090     # gRPC port
      - target: 9091
        published: 9091     # gRPC-Gateway port
      - target: 26660
        published: 26660    # Prometheus metrics port
    volumes:
      - type: volume
        source: validator-0-data
        target: /home/cheqd
    env_file:
      - container-env/validator-0.env
    configs:
      - source: genesis
        target: /genesis
      - source: seeds
        target: /seeds
      - source: validator-0-node-key
        target: /node_key
      - source: validator-0-priv-val-key
        target: /priv_validator_key

  validator-1:
    image: ${CHEQD_NODE_IMAGE}:${DOCKER_IMAGE_VERSION}
    ports:
      - target: 26656
        published: 26756    # Tendermint peer-to-peer (P2P) port
      - target: 26657
        published: 26757    # Tendermint RPC port
      - target: 1317
        published: 1417     # Cosmos REST API port
      - target: 9090
        published: 9190     # gRPC port
      - target: 9091
        published: 9191     # gRPC-Gateway port
      - target: 26660
        published: 26760    # Prometheus metrics port
    volumes:
      - type: volume
        source: validator-1-data
        target: /home/cheqd
    env_file:
      - container-env/validator-1.env
    configs:
      - source: genesis
        target: /genesis
      - source: seeds
        target: /seeds
      - source: validator-1-node-key
        target: /node_key
      - source: validator-1-priv-val-key
        target: /priv_validator_key

  validator-2:
    image: ${CHEQD_NODE_IMAGE}:${DOCKER_IMAGE_VERSION}
    ports:
      - target: 26656
        published: 26856    # Tendermint peer-to-peer (P2P) port
      - target: 26657
        published: 26857    # Tendermint RPC port
      - target: 1317
        published: 1517     # Cosmos REST API port
      - target: 9090
        published: 9290     # gRPC port
      - target: 9091
        published: 9291     # gRPC-Gateway port
      - target: 26660
        published: 26860    # Prometheus metrics port
    volumes:
      - type: volume
        source: validator-2-data
        target: /home/cheqd
    env_file:
      - container-env/validator-2.env
    configs:
      - source: genesis
        target: /genesis
      - source: seeds
        target: /seeds
      - source: validator-2-node-key
        target: /node_key
      - source: validator-2-priv-val-key
        target: /priv_validator_key

  validator-3:
    image: ${CHEQD_NODE_IMAGE}:${DOCKER_IMAGE_VERSION}
    ports:
      - target: 26656
        published: 26956    # Tendermint peer-to-peer (P2P) port
      - target: 26657
        published: 26957    # Tendermint RPC port
      - target: 1317
        published: 1617     # Cosmos REST API port
      - target: 9090
        published: 9390     # gRPC port
      - target: 9091
        published: 9391     # gRPC-Gateway port
      - target: 26660
        published: 26960    # Prometheus metrics port
    volumes:
      - type: volume
        source: validator-3-data
        target: /home/cheqd
    env_file:
      - container-env/validator-3.env
    configs:
      - source: genesis
        target: /genesis
      - source: seeds
        target: /seeds
      - source: validator-3-node-key
        target: /node_key
      - source: validator-3-priv-val-key
        target: /priv_validator_key

  seed-0:
    image: ${CHEQD_NODE_IMAGE}:${DOCKER_IMAGE_VERSION}
    ports:
      - target: 26656
        published: 27056    # Tendermint peer-to-peer (P2P) port
      - target: 26657
        published: 27057    # Tendermint RPC port
      - target: 1317
        published: 1717     # Cosmos REST API port
      - target: 9090
        published: 9490     # gRPC port
      - target: 9091
        published: 9491     # gRPC-Gateway port
      - target: 26660
        published: 27060    # Prometheus metrics port
    volumes:
      - type: volume
        source: seed-0-data
        target: /home/cheqd
    env_file:
      - container-env/seed-0.env
    configs:
      - source: genesis
        target: /genesis
      - source: seeds
        target: /seeds
      - source: seed-0-node-key
        target: /node_key
      - source: seed-0-priv-val-key
        target: /priv_validator_key

  observer-0:
    image: ${CHEQD_NODE_IMAGE}:${DOCKER_IMAGE_VERSION}
    ports:
      - target: 26656
        published: 27156    # Tendermint peer-to-peer (P2P) port
      - target: 26657
        published: 27157    # Tendermint RPC port
      - target: 1317
        published: 1817     # Cosmos REST API port
      - target: 9090
        published: 9590     # gRPC port
      - target: 9091
        published: 9591     # gRPC-Gateway port
      - target: 26660
        published: 27160    # Prometheus metrics port
    volumes:
      - type: volume
        source: observer-0-data
        target: /home/cheqd
    env_file:
      - container-env/observer-0.env
    configs:
      - source: genesis
        target: /genesis
      - source: seeds
        target: /seeds
      - source: observer-0-node-key
        target: /node_key
      - source: observer-0-priv-val-key
        target: /priv_validator_key

configs:
  # Genesis and seeds
  genesis:
    file: network-config/genesis.json
  seeds:
    file: network-config/seeds.txt

  # Validator 0
  validator-0-node-key:
    file: network-config/validator-0/config/node_key.json
  validator-0-priv-val-key:
    file: network-config/validator-0/config/priv_validator_key.json

  # Validator 1
  validator-1-node-key:
    file: network-config/validator-1/config/node_key.json
  validator-1-priv-val-key:
    file: network-config/validator-1/config/priv_validator_key.json

  # Validator 2
  validator-2-node-key:
    file: network-config/validator-2/config/node_key.json
  validator-2-priv-val-key:
    file: network-config/validator-2/config/priv_validator_key.json

  # Validator 3
  validator-3-node-key:
    file: network-config/validator-3/config/node_key.json
  validator-3-priv-val-key:
    file: network-config/validator-3/config/priv_validator_key.json

  # Seed 0
  seed-0-node-key:
    file: network-config/seed-0/config/node_key.json
  seed-0-priv-val-key:
    file: network-config/seed-0/config/priv_validator_key.json

  # Observer 0
  observer-0-node-key:
    file: network-config/observer-0/config/node_key.json
  observer-0-priv-val-key:
    file: network-config/observer-0/config/priv_validator_key.json

volumes:
  validator-0-data:
  validator-1-data:
  validator-2-data:
  validator-3-data:
  seed-0-data:
  observer-0-data:
