{
  "swagger": "2.0",
  "info": {
    "title": "Cheqd - gRPC Gateway docs",
    "description": "A REST interface for state queries",
    "version": "1.0.0"
  },
  "host": "api.cheqd.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/cheqd/did/v2/{id}": {
      "get": {
        "summary": "Query DID Document",
        "description": "This endpoint queries the DID Doc and Metadata for a given DID",
        "operationId": "DidDoc",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "properties": {
                    "did_doc": {
                      "type": "object",
                      "properties": {
                        "context": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "controller": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "verification_method": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "controller": {
                                "type": "string"
                              },
                              "verification_material": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "authentication": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "assertion_method": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "capability_invocation": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "capability_delegation": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "key_agreement": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "service": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "service_endpoint": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "also_known_as": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "string"
                        },
                        "deactivated": {
                          "type": "boolean"
                        },
                        "version_id": {
                          "type": "string"
                        },
                        "next_version_id": {
                          "type": "string"
                        },
                        "previous_version_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "is a DID to be fetched",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "DID"
        ]
      }
    },
    "/cheqd/did/v2/{id}/metadata": {
      "get": {
        "summary": "Query metadata for all versions of a DID",
        "description": "This endpoint queries the Metadata for all the versions of a DID",
        "operationId": "AllDidDocVersionsMetadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "versions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "created": {
                        "type": "string"
                      },
                      "updated": {
                        "type": "string"
                      },
                      "deactivated": {
                        "type": "boolean"
                      },
                      "version_id": {
                        "type": "string"
                      },
                      "next_version_id": {
                        "type": "string"
                      },
                      "previous_version_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "is a DID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "DID"
        ]
      }
    },
    "/cheqd/did/v2/{id}/version/{version}": {
      "get": {
        "summary": "Query specific version of DID Document",
        "description": "This endpoint takes DID and the versionId as input and returns the specific version of the DID Document",
        "operationId": "DidDocVersion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "properties": {
                    "did_doc": {
                      "type": "object",
                      "properties": {
                        "context": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "controller": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "verification_method": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "controller": {
                                "type": "string"
                              },
                              "verification_material": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "authentication": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "assertion_method": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "capability_invocation": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "capability_delegation": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "key_agreement": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "service": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "service_endpoint": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "also_known_as": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "string"
                        },
                        "deactivated": {
                          "type": "boolean"
                        },
                        "version_id": {
                          "type": "string"
                        },
                        "next_version_id": {
                          "type": "string"
                        },
                        "previous_version_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "is a DID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "is a unique value that maps DID Doc state at some point",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "DID"
        ]
      }
    },
    "/cheqd/resource/v2/{collection_id}/metadata": {
      "get": {
        "summary": "Query collection resource metadata",
        "description": "This endpoint takes collectionId as input and returns collection resource metadata for the given collection id",
        "operationId": "CollectionResources",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "resources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "collection_id": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "version": {
                        "type": "string"
                      },
                      "resource_type": {
                        "type": "string"
                      },
                      "also_known_as": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uri": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "media_type": {
                        "type": "string"
                      },
                      "created": {
                        "type": "string"
                      },
                      "checksum": {
                        "type": "string"
                      },
                      "previous_version_id": {
                        "type": "string"
                      },
                      "next_version_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "collection_id",
            "description": "is unique identifier a for collection",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Resource"
        ]
      }
    },
    "/cheqd/resource/v2/{collection_id}/resources/{id}": {
      "get": {
        "summary": "Query a Resource",
        "description": "This endpoint takes collectionId and resource identifier as input and returns the Resource with Metadata",
        "operationId": "Resource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "format": "byte"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "collection_id": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        },
                        "resource_type": {
                          "type": "string"
                        },
                        "also_known_as": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "uri": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "media_type": {
                          "type": "string"
                        },
                        "created": {
                          "type": "string"
                        },
                        "checksum": {
                          "type": "string"
                        },
                        "previous_version_id": {
                          "type": "string"
                        },
                        "next_version_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "collection_id",
            "description": "is unique identifier a for collection",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "is unique identifier for a resource",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Resource"
        ]
      }
    },
    "/cheqd/resource/v2/{collection_id}/resources/{id}/metadata": {
      "get": {
        "summary": "Query Resource Metadata",
        "description": "This endpoint takes collectionId and resource identifier as input and returns the Resource Metadata",
        "operationId": "ResourceMetadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "object",
                  "properties": {
                    "collection_id": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "resource_type": {
                      "type": "string"
                    },
                    "also_known_as": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "media_type": {
                      "type": "string"
                    },
                    "created": {
                      "type": "string"
                    },
                    "checksum": {
                      "type": "string"
                    },
                    "previous_version_id": {
                      "type": "string"
                    },
                    "next_version_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type_url": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string",
                        "format": "byte"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "collection_id",
            "description": "is unique identifier a for collection",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "is unique identifier for a resource",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Resource"
        ]
      }
    }
  },
  "definitions": {
    "cheqd.did.v2.DidDoc": {
      "type": "object",
      "properties": {
        "context": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string"
        },
        "controller": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "verification_method": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "controller": {
                "type": "string"
              },
              "verification_material": {
                "type": "string"
              }
            }
          }
        },
        "authentication": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "assertion_method": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "capability_invocation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "capability_delegation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key_agreement": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "service_endpoint": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "also_known_as": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "cheqd.did.v2.DidDocWithMetadata": {
      "type": "object",
      "properties": {
        "did_doc": {
          "type": "object",
          "properties": {
            "context": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "id": {
              "type": "string"
            },
            "controller": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "verification_method": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "controller": {
                    "type": "string"
                  },
                  "verification_material": {
                    "type": "string"
                  }
                }
              }
            },
            "authentication": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "assertion_method": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "capability_invocation": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "capability_delegation": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "key_agreement": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "service": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "service_endpoint": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "also_known_as": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "metadata": {
          "type": "object",
          "properties": {
            "created": {
              "type": "string"
            },
            "updated": {
              "type": "string"
            },
            "deactivated": {
              "type": "boolean"
            },
            "version_id": {
              "type": "string"
            },
            "next_version_id": {
              "type": "string"
            },
            "previous_version_id": {
              "type": "string"
            }
          }
        }
      }
    },
    "cheqd.did.v2.Metadata": {
      "type": "object",
      "properties": {
        "created": {
          "type": "string"
        },
        "updated": {
          "type": "string"
        },
        "deactivated": {
          "type": "boolean"
        },
        "version_id": {
          "type": "string"
        },
        "next_version_id": {
          "type": "string"
        },
        "previous_version_id": {
          "type": "string"
        }
      }
    },
    "cheqd.did.v2.QueryGetAllDidDocVersionsMetadataResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "created": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              },
              "deactivated": {
                "type": "boolean"
              },
              "version_id": {
                "type": "string"
              },
              "next_version_id": {
                "type": "string"
              },
              "previous_version_id": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "cheqd.did.v2.QueryGetDidDocResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "properties": {
            "did_doc": {
              "type": "object",
              "properties": {
                "context": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "id": {
                  "type": "string"
                },
                "controller": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "verification_method": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "controller": {
                        "type": "string"
                      },
                      "verification_material": {
                        "type": "string"
                      }
                    }
                  }
                },
                "authentication": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "assertion_method": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "capability_invocation": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "capability_delegation": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "key_agreement": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "service": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "service_endpoint": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "also_known_as": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "metadata": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                },
                "deactivated": {
                  "type": "boolean"
                },
                "version_id": {
                  "type": "string"
                },
                "next_version_id": {
                  "type": "string"
                },
                "previous_version_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "cheqd.did.v2.QueryGetDidDocVersionResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "properties": {
            "did_doc": {
              "type": "object",
              "properties": {
                "context": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "id": {
                  "type": "string"
                },
                "controller": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "verification_method": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "controller": {
                        "type": "string"
                      },
                      "verification_material": {
                        "type": "string"
                      }
                    }
                  }
                },
                "authentication": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "assertion_method": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "capability_invocation": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "capability_delegation": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "key_agreement": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "service": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "service_endpoint": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "also_known_as": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "metadata": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                },
                "deactivated": {
                  "type": "boolean"
                },
                "version_id": {
                  "type": "string"
                },
                "next_version_id": {
                  "type": "string"
                },
                "previous_version_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "cheqd.did.v2.Service": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "service_endpoint": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "cheqd.did.v2.VerificationMethod": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "controller": {
          "type": "string"
        },
        "verification_material": {
          "type": "string"
        }
      }
    },
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "grpc.gateway.runtime.Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type_url": {
                "type": "string"
              },
              "value": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        }
      }
    },
    "cheqd.resource.v2.AlternativeUri": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "cheqd.resource.v2.Metadata": {
      "type": "object",
      "properties": {
        "collection_id": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "resource_type": {
          "type": "string"
        },
        "also_known_as": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "uri": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        },
        "media_type": {
          "type": "string"
        },
        "created": {
          "type": "string"
        },
        "checksum": {
          "type": "string"
        },
        "previous_version_id": {
          "type": "string"
        },
        "next_version_id": {
          "type": "string"
        }
      }
    },
    "cheqd.resource.v2.QueryGetCollectionResourcesResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "collection_id": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "resource_type": {
                "type": "string"
              },
              "also_known_as": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              },
              "media_type": {
                "type": "string"
              },
              "created": {
                "type": "string"
              },
              "checksum": {
                "type": "string"
              },
              "previous_version_id": {
                "type": "string"
              },
              "next_version_id": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "cheqd.resource.v2.QueryGetResourceMetadataResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "properties": {
            "collection_id": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "version": {
              "type": "string"
            },
            "resource_type": {
              "type": "string"
            },
            "also_known_as": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "uri": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            },
            "media_type": {
              "type": "string"
            },
            "created": {
              "type": "string"
            },
            "checksum": {
              "type": "string"
            },
            "previous_version_id": {
              "type": "string"
            },
            "next_version_id": {
              "type": "string"
            }
          }
        }
      }
    },
    "cheqd.resource.v2.QueryGetResourceResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "properties": {
            "resource": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "format": "byte"
                }
              }
            },
            "metadata": {
              "type": "object",
              "properties": {
                "collection_id": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "version": {
                  "type": "string"
                },
                "resource_type": {
                  "type": "string"
                },
                "also_known_as": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uri": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                },
                "media_type": {
                  "type": "string"
                },
                "created": {
                  "type": "string"
                },
                "checksum": {
                  "type": "string"
                },
                "previous_version_id": {
                  "type": "string"
                },
                "next_version_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "cheqd.resource.v2.Resource": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "cheqd.resource.v2.ResourceWithMetadata": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "properties": {
            "data": {
              "type": "string",
              "format": "byte"
            }
          }
        },
        "metadata": {
          "type": "object",
          "properties": {
            "collection_id": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "version": {
              "type": "string"
            },
            "resource_type": {
              "type": "string"
            },
            "also_known_as": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "uri": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            },
            "media_type": {
              "type": "string"
            },
            "created": {
              "type": "string"
            },
            "checksum": {
              "type": "string"
            },
            "previous_version_id": {
              "type": "string"
            },
            "next_version_id": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}