name: "Build"
on:
  workflow_call:
defaults:
  run:
    shell: bash


jobs:

  build-binary:
    name: "Node binary"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Required to fetch version
      
      - uses: actions/setup-go@v3
        with:
          go-version-file: ./go.mod
          cache: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: build --rm-dist --snapshot --id ubuntu-latest-amd64

      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: cheqd-noded
          path: dist/**/cheqd-noded

      - name: Run Golang unit tests
        run: go test -v ./...

      - name: Golang Test Annotations
        uses: guyarb/golang-test-annotations@v0.6.0


  build-docker:
    name: "Docker image"
    runs-on: ubuntu-latest
    env:
      DOCKER_TEST_IMAGE: ${{ github.repository }}:${{ github.sha }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v3
        with:
          go-version-file: ./go.mod

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
          version: latest

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64
          load: true
          target: runner
          tags: ${{ env.DOCKER_TEST_IMAGE }}
          outputs: type=docker,dest=/tmp/cheqd-node-image.tar

      - name: Upload Docker test image
        uses: actions/upload-artifact@v3
        with:
          name: cheqd-node-image.tar
          path: /tmp/cheqd-node-image.tar
