name: "Build"
on:
  workflow_call:
    # outputs:
    #   VERSION:
    #     description: "Build version number"
    #     value: ${{ jobs.build-binary.outputs.VERSION }}
defaults:
  run:
    shell: bash


jobs:

  build-binary:
    name: "Build node binary"
    runs-on: ubuntu-latest
    # outputs:
    #   VERSION: ${{ steps.set-version.outputs.VERSION }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Required to fetch version
      
      - uses: actions/setup-go@v3
        with:
          go-version-file: ./go.mod

      - name: Run Golang unit tests
        run: go test -v ./...

      # Calls a section in Makefile > Makefile > make/proto.mk > protocgen.sh
      - name: Generate Protobufs
        run: make proto-gen

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: build --rm-dist --single-target
        
      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: cheqd-noded
          path: dist/cheqd-noded

      - name: Set version number
        id: set-version
        run: |
          VERSION=$(build/cheqd-noded version 2>&1)
          echo ::set-output name=VERSION::"$VERSION"

  build-docker:
    name: "Build Docker image"
    runs-on: ubuntu-latest
    env:
      DOCKER_TEST_IMAGE: ${{ github.repository }}:test

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v3
        with:
          go-version-file: ./go.mod

      - name: Generate Protobufs
        run: make proto-gen

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
          version: latest

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64
          load: true
          target: runner
          tags: ${{ env.DOCKER_TEST_IMAGE }}
          outputs: type=docker,dest=/tmp/cheqd-node-image.tar

      - name: Store Docker test image artifact
        uses: actions/upload-artifact@v3
        with:
          name: cheqd-node-image.tar
          path: /tmp/cheqd-node-image.tar
