name: CI

on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Download and build starport
        run: curl https://get.starport.network/starport! | sudo bash

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Starport build
        run: starport chain build

  build-node-and-testnet-images:
    name: Build node and testnet images
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Build node image
        run: |
          docker build -f ci/docker/Dockerfile --no-cache -t cheqd-node .

      - name: Build testnet image
        run: |
          docker build -f ci/docker_testnet/Dockerfile --no-cache -t cheqd-testnet .

  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Run tests
        run: |
          PACKAGES=$(go list ./...)
          go test -v $PACKAGES

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.40
          args: --timeout 5m0s

  link-markdown:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        config-file: 'mlc_config.json'
