name: "Workflow Dispatch"
on: push
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:

  call-lint:
    name: "Lint"
    uses: ./.github/workflows/lint.yml

  call-build:
    name: "Build"
    needs: call-lint
    uses: ./.github/workflows/build.yml
  
  call-test:
    name: "Test"
    needs: call-build
    uses: cheqd/cheqd-node/.github/workflows/test.yml@main
    with:
      VERSION: ${{ needs.call-build.outputs.VERSION }}

  call-release:
    name: "Release"
    needs: [call-test, call-build]
    if: startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/release.yml
    with:
      RELEASE_VERSION: ${{ needs.call-build.outputs.VERSION }}
