name: "Workflow Dispatch"
on: push
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:

  call-lint:
    name: "Lint"
    uses: ./.github/workflows/lint.yml

  call-build:
    name: "Build"
    # needs: call-lint
    uses: ./.github/workflows/build.yml
    secrets: inherit
  
  # call-test:
  #   name: "Test"
  #   needs: call-build
  #   uses: ./.github/workflows/test.yml
  #   with:
  #     VERSION: ${{ needs.call-build.outputs.VERSION }}

  call-release:
    name: "Release"
    # needs: [call-test, call-build]
    # needs: call-build
    # if: ${{ github.ref_protected == true }}
    uses: ./.github/workflows/release.yml
    # with:
    #   RELEASE_VERSION: ${{ needs.call-build.outputs.VERSION }}
    secrets: inherit
