name: "Lint"
on:
  workflow_call:
defaults:
  run:
    shell: bash


jobs:

  sh-euox-pipefail-check:
    name: "Shell pipefail check"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Run 'set -euox pipefail' check
        run: bash ./.github/scripts/ensure_set_euox_pipefail.sh
  
  md-link-check:
    name: "Broken Markdown links"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Run Markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: '.github/linters/mlc_config.json'
          use-quiet-mode: 'yes'
  
  go-lint:
    # We can't use VALIDATE_GO from super linter because of this issue:
    # https://github.com/github/super-linter/issues/143
    name: "Golang"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version-file: ./go.mod
          cache: true
      
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.47
          args: --config .github/linters/.golangci.yaml

  super-lint:
    name: "Super Linter"
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Required to fetch version
    
    - name: Run Super Linter
      uses: github/super-linter/slim@v4
      env:
        IGNORE_GITIGNORED_FILES: true
        DEFAULT_BRANCH: main
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        LOG_LEVEL: WARN
        VALIDATE_ALL_CODEBASE: true
        MULTI_STATUS: true

        VALIDATE_BASH: true
        VALIDATE_DOCKERFILE_HADOLINT: true
        VALIDATE_ENV: true
        # VALIDATE_GITHUB_ACTIONS: true
        VALIDATE_JSON: true
        VALIDATE_MARKDOWN: true
        VALIDATE_OPENAPI: true
        VALIDATE_PYTHON_PYLINT: true
        VALIDATE_XML: true
        VALIDATE_YAML: true
