name: Lint

on: [push]

jobs:

  # We can't use VALIDATE_GO from super linter because of this issue:
  # https://github.com/github/super-linter/issues/143
  go-lint:
    name: Lint go
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.43.0
          args: --timeout 5m0s

  md-link-check:
    name: Check markdown links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check if Markdown links are valid
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with: 
          config-file: '.github/linters/mlc_config.json'
          folder-path: "."

  super-lint:
    name: Run super linter
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Super-Linter
      uses: github/super-linter/slim@v4
      env:
        VALIDATE_GITLEAKS: true
        VALIDATE_MARKDOWN: true
        VALIDATE_XML: true
        VALIDATE_YAML: true
        VALIDATE_OPENAPI: true
        # VALIDATE_BASH: true
        # VALIDATE_BASH_EXEC: true
        # VALIDATE_DOCKERFILE_HADOLINT: true
        # VALIDATE_ENV: true
        # VALIDATE_GITHUB_ACTIONS: true
        # VALIDATE_PROTOBUF: true
        # VALIDATE_SHELL_SHFMT: true

        VALIDATE_ALL_CODEBASE: true
        LOG_LEVEL: WARN

        DEFAULT_BRANCH: main
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
