name: cheqd-node CI

on:
  push:
    paths-ignore:
    - '**.md'
    - 'docs/**'
    - 'architecture/**'
    - '.gitbook/**'

env:
  NODE_CONFIGS_BASE: "/home/runner/work/cheqd-node/cheqd-node/tests/networks/docker_compose/node_configs"
  PACKAGE_NAME: "cheqd-node"
  VERSION: "1.0.0" # Package build scripts require version to be provided

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.43.0
          args: --timeout 5m0s

  unit-test:
    name: Run unit tests
    runs-on: ubuntu-20.04
    needs: lint
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - uses: actions/checkout@v2

      - name: Run tests
        run: go test -v ./...

  build-deb-package:
    name: Build binary and deb package
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      # There is an issue with the latest starport, especially 0.18 version
      - name: Download and install starport
        run: wget -qO- https://github.com/tendermint/starport/releases/download/v0.18.6/starport_0.18.6_linux_amd64.tar.gz | tar xvz -C /tmp/ && sudo cp /tmp/starport /usr/bin

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Starport requires full repository

      - name: Build CLI to run commands
        run: |
          which starport
          starport
          starport chain build

      - name: Store binary artifact
        uses: actions/upload-artifact@v2
        with:
          name: cheqd-noded
          path: /home/runner/go/bin/cheqd-noded

      - name: Make archive
        run: |
          ./build_tar.sh ${{ env.PACKAGE_NAME }} ${{ env.VERSION }} 
        working-directory: ./build_tools

      - name: Install fpm
        run: |
          sudo apt-get install ruby ruby-dev rubygems build-essential
          sudo gem install --no-document fpm

      - name: Create deb
        run: |
          ./build_deb.sh ${{ env.PACKAGE_NAME }} ${{ env.VERSION }} 
        working-directory: ./build_tools

      - name: Upload deb
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }}_${{ env.VERSION }}_amd64.deb
          path: build_tools/output/${{ env.PACKAGE_NAME }}_${{ env.VERSION }}_amd64.deb

  build-images-and-set-up-pool:
    name: Build cheqd-node and testnet Docker images, install deb package and run Docker pool
    runs-on: ubuntu-20.04
    needs: build-deb-package
    steps:
      - name: Download deb
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }}_${{ env.VERSION }}_amd64.deb

      - name: Install deb
        run: |
          sudo CHEQD_HOME_DIR=/home/runner/cheqd dpkg -i ${{ env.PACKAGE_NAME }}_${{ env.VERSION }}_amd64.deb

      - name: Check out
        uses: actions/checkout@v2

      - name: Build node image
        run: |
          docker build -f docker/cheqd_node/Dockerfile --no-cache -t cheqd-node --build-arg UID=$(id -u) --build-arg GID=$(id -g) .

      - name: Build test net image
        run: |
          docker build -f docker/single_image_testnet/Dockerfile --no-cache -t cheqd-testnet .

      - name: Set up 4 validators + 2 observers node docker pool
        working-directory: ./tests/networks/docker_compose
        run: |
          ./gen_node_configs.sh
          ./run_docker.sh
          ./wait.sh '[[ $(curl -s -N localhost:26657/block | jq -cr '"'"'.result.block.last_commit.height'"'"') -gt 1 ]] && echo "Height is more than 1"'

      - name: Add observer node
        working-directory: ./tests/networks/docker_compose
        run: |
          ./add_observer.sh
          cheqd-noded status -n tcp://localhost:26677 2>&1
          ./wait.sh '[[ $(cheqd-noded status -n '"'"'tcp://localhost:26677'"'"' 2>&1 | wc -l) == 1 ]] && echo "New node returns status!"'

      - name: Promote observer to validator
        working-directory: ./tests/networks/docker_compose
        run: |
          bash -x promote_validator.sh
          cheqd-noded query staking validators --node "http://localhost:26657" | sed -nr 's/.*status: (.*?).*/\1/p' $1 | while read x; do [[ "BOND_STATUS_BONDED" == $x ]] && echo "Validator's status is bonded!" || exit 1 ; done
          ./wait.sh '[[ $(curl -s localhost:26657/block | sed -nr '"'"'s/.*signature": (.*?).*/\1/p'"'"' | wc -l) == 5 ]] && echo "There are 5 validators signatures in block!"'
          ./wait.sh '[[ $(curl -s localhost:26657/block | sed -nr '"'"'s/.*(signature": null).*/\1/p'"'"' | wc -l) == 0 ]] && echo "There are no null signatures in block!"'

      - name: Gather logs on failure
        if: ${{ failure() }}
        run: |
          journalctl -ex | grep cheqd

      - name: Gather logs on failure 2
        if: ${{ failure() }}
        run: |
          journalctl -u service-name.service --no-pager

  run-cosmos-specific-tests:
    name: Run cosmos-specific tests using cheqd-node CLI
    runs-on: ubuntu-20.04
    needs: build-deb-package
    steps:
      - name: Download deb
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }}_${{ env.VERSION }}_amd64.deb

      - name: Install deb
        run: |
          sudo dpkg -i ${{ env.PACKAGE_NAME }}_${{ env.VERSION }}_amd64.deb
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build node image
        run: |
          docker build -f docker/cheqd_node/Dockerfile --no-cache -t cheqd-node --build-arg UID=$(id -u) --build-arg GID=$(id -g) .
      - name: Set up 4 validators + 2 observers node docker pool for local test run
        working-directory: ./tests/networks/docker_compose
        run: |
          ./gen_node_configs.sh
          ./run_docker.sh
          ./wait.sh '[[ $(curl -s -N localhost:26657/block | jq -cr '"'"'.result.block.last_commit.height'"'"') -gt 1 ]] && echo "Height is more than 1"'
      - name: Set up test environment
        working-directory: ./tests/e2e
        run: |
          pip3 install -r requirements.txt >> /dev/null
          pip3 install --force-reinstall 'git+https://gitlab.com/evernym/verity/vdr-tools.git@cheqd-node-0.3.1#egg=vdr-tools&subdirectory=wrappers/python' -U
          cp -R ${NODE_CONFIGS_BASE}/client/.cheqdnode /home/runner/
          sudo chmod -R 777 /home/runner
      - name: Run tests
        run: |
          export OP0_ADDRESS=$(cheqd-noded keys list --keyring-backend "test" | sed -nr 's/.*address: (.*?).*/\1/p' | sed -n 1p | sed 's/\r//g')
          export OP1_ADDRESS=$(cheqd-noded keys list --keyring-backend "test" | sed -nr 's/.*address: (.*?).*/\1/p' | sed -n 2p | sed 's/\r//g')
          pytest -v -rP tests/e2e/test_cosmos.py

  run-identity-specific-tests:
    name: Run identity-specific tests using VDR
    runs-on: ubuntu-20.04
    needs: build-deb-package
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build node image
        run: |
          docker build -f docker/cheqd_node/Dockerfile --no-cache -t cheqd-node --build-arg UID=$(id -u) --build-arg GID=$(id -g) .
      - name: Build test net image
        run: |
          docker build -f docker/single_image_testnet/Dockerfile --no-cache -t cheqd-testnet .
      - name: Run test net container
        run: |
          docker run -d --rm -p "26657:26657" cheqd-testnet
      - name: Set up test environment
        working-directory: ./tests/e2e
        run: |
          sudo cp libindy.so /usr/lib/libindy.so
          pip3 install -r requirements.txt >> /dev/null
          pip3 install --force-reinstall 'git+https://gitlab.com/evernym/verity/vdr-tools.git@cheqd-node-0.3.1#egg=vdr-tools&subdirectory=wrappers/python' -U
      - name: Run tests
        run: |
          export OP0_ADDRESS=""
          export OP1_ADDRESS=""
          pytest -v -rP tests/e2e/test_identity.py

  run-cosmos-cli-identity-tests:
    name: Run identity tests using Cosmos CLI
    runs-on: ubuntu-20.04
    needs: build-deb-package
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Load binary artifact
        uses: actions/download-artifact@v2
        with:
          name: cheqd-noded

      - name: Build node image
        run: |
          docker build -f docker/cheqd_node/Dockerfile --no-cache -t cheqd-node --build-arg UID=$(id -u) --build-arg GID=$(id -g) .

      - name: Build test net image
        run: |
          docker build -f docker/single_image_testnet/Dockerfile --no-cache -t cheqd-testnet .

      - name: Run test net container
        run: |
          docker run -d --rm -p "26657:26657" cheqd-testnet

      - name: Set up and run tests
        working-directory: tests/cli
        run: |
          bash import_keys.sh
          bash run_all.sh
