name: "Release"
on:
  workflow_call:
    inputs:
      RELEASE_VERSION:
        description: "Release version number"
        type: string
defaults:
  run:
    shell: bash


jobs:

  release-packages:
    name: "Release tar/Debian packages"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      RELEASE_VERSION: ${{ inputs.RELEASE_VERSION }}
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Required to fetch version

      - name: Download node binary from build stage
        uses: actions/download-artifact@v3
        with:
          name: cheqd-noded
          path: build-tools

      - name: Restore binary permissions
        run: sudo chmod +x build-tools/cheqd-noded

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ env.GITHUB_REF_NAME }}"
          prerelease: true
          draft: true
          files: |
            build-tools/cheqd-noded

  release-docker-images:
    name: "Publish Docker images for new version"
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      RELEASE_VERSION: ${{ inputs.RELEASE_VERSION }}
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Required to fetch version

      - name: Build cheqd-cli Docker image 'cheqd-noded' as entrypoint and no build args
        run: docker build --target base -t cheqd-cli -f docker/Dockerfile .

      - name: Build cheqd-node Docker image with 'node-start' as entrypoint and no build args
        run: docker build --target node -t cheqd-node -f docker/Dockerfile .

      - name: Login to Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push cheqd-node image
        run: |
          docker tag cheqd-node ghcr.io/${{ github.repository }}:${{ env.RELEASE_VERSION }}
          docker tag cheqd-node ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:${{ env.RELEASE_VERSION }}
          docker push ghcr.io/${{ github.repository }}:latest

      - name: Push cheqd-cli image
        run: |
          docker tag cheqd-cli ghcr.io/${{ github.repository_owner }}/cheqd-cli:${{ env.RELEASE_VERSION }}
          docker tag cheqd-cli ghcr.io/${{ github.repository_owner }}/cheqd-cli:latest
          docker push ghcr.io/${{ github.repository_owner }}/cheqd-cli:${{ env.RELEASE_VERSION }}
          docker push ghcr.io/${{ github.repository_owner }}/cheqd-cli:latest
