name: Release

on:
  push:
    tags:
      - "v*"

jobs:

  build-binary:
    name: Build binary
    runs-on: ubuntu-20.04
    outputs:
      VERSION: ${{ steps.set-version.outputs.VERSION }}
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Get Go protoc compiler plugins
        env:
          GOLANG_PROTOBUF_VERSION: 1.3.5
          GOGO_PROTOBUF_VERSION: 1.3.2
          GRPC_GATEWAY_VERSION: 1.14.7
        run: |
          # Taken from: tendermintdev/sdk-proto-gen:v0.2
          go get \
            github.com/golang/protobuf/protoc-gen-go@v${GOLANG_PROTOBUF_VERSION} \
            github.com/gogo/protobuf/protoc-gen-gogo@v${GOGO_PROTOBUF_VERSION} \
            github.com/gogo/protobuf/protoc-gen-gogofast@v${GOGO_PROTOBUF_VERSION} \
            github.com/gogo/protobuf/protoc-gen-gogofaster@v${GOGO_PROTOBUF_VERSION} \
            github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway@v${GRPC_GATEWAY_VERSION} \
            github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger@v${GRPC_GATEWAY_VERSION} \
            github.com/regen-network/cosmos-proto/protoc-gen-gocosmos@latest

      - name: Install buf
        env:
          PREFIX: "/usr/local"
          VERSION: "1.0.0-rc8"
        run: |
          curl -sSL "https://github.com/bufbuild/buf/releases/download/v${VERSION}/buf-$(uname -s)-$(uname -m).tar.gz" | \
          sudo tar -xvzf - -C "${PREFIX}" --strip-components 1

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required to fetch version

      - name: Build
        run: |
          make proto-gen build

      - name: Store artifact
        uses: actions/upload-artifact@v2
        with:
          name: cheqd-noded
          path: build/cheqd-noded

      - name: Set version
        id: set-version
        run: |
          VERSION=$(build/cheqd-noded version 2>&1)
          echo "::set-output name=VERSION::$VERSION"

  build-tar-package:
    name: Build tar package
    runs-on: ubuntu-20.04
    needs: build-binary
    env:
      VERSION: ${{ needs.build-binary.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v2

      - name: Load binary artifact
        uses: actions/download-artifact@v2
        with:
          name: cheqd-noded

      - name: Restore binary permissions
        run: sudo chmod +x cheqd-noded

      - name: Build tar
        working-directory: ./build-tools
        run: |
          ./build-tar.sh "../cheqd-noded"

      - name: Store tar package artifact
        uses: actions/upload-artifact@v2
        with:
          name: cheqd-node_${{ env.VERSION }}.deb
          path: build-tools/output/cheqd-node_${{ env.VERSION }}.tar.gz

  build-deb-package:
    name: Build Debian package
    runs-on: ubuntu-20.04
    needs: [ build-binary ]
    env:
      VERSION: ${{ needs.build-binary.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v2

      - name: Load binary artifact
        uses: actions/download-artifact@v2
        with:
          name: cheqd-noded

      - name: Restore binary permissions
        run: sudo chmod +x cheqd-noded

      - name: Install fpm
        run: |
          sudo apt-get install ruby ruby-dev rubygems build-essential
          sudo gem install --no-document fpm

      - name: Make intermediate archive
        working-directory: ./build-tools
        run: |
          ./build-deb.sh "../cheqd-noded"

      - name: Store Debian package artifact
        uses: actions/upload-artifact@v2
        with:
          name: cheqd-node_${{ env.VERSION }}_amd64.deb
          path: build-tools/output/cheqd-node_${{ env.VERSION }}_amd64.deb

  build-node-image:
    name: Build cheqd-node Docker image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required to fetch version

      - name: Build
        run: docker build -f docker/Dockerfile --no-cache -t cheqd-node .

      - name: Save
        run: docker save -o cheqd-node-image.tar cheqd-node

      - name: Store artifact
        uses: actions/upload-artifact@v2
        with:
          name: cheqd-node-image.tar
          path: cheqd-node-image.tar

  build-testnet-image:
    name: Build cheqd-testnet image
    runs-on: ubuntu-20.04
    needs: build-node-image
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Download node image
        uses: actions/download-artifact@v2
        with:
          name: cheqd-node-image.tar

      - name: Load node image
        run: docker load -i cheqd-node-image.tar

      - name: Build
        run: docker build -f tests/networks/docker-localnet/Dockerfile --no-cache -t cheqd-testnet .

      - name: Save
        run: docker save -o cheqd-testnet-image.tar cheqd-testnet

      - name: Store artifact
        uses: actions/upload-artifact@v2
        with:
          name: cheqd-testnet-image.tar
          path: cheqd-testnet-image.tar

  publish:
    name: "Publish images and release"
    # Reference to workflow-setup job is required to access its various outputs.
    needs: [ build-binary, build-node-image, build-testnet-image, build-deb-package, build-tar-package ]
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.build-binary.outputs.VERSION }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Download node image
        uses: actions/download-artifact@v2
        with:
          name: cheqd-node-image.tar

      - name: Load node image
        run: docker load -i cheqd-node-image.tar

      - name: Download testnet image
        uses: actions/download-artifact@v2
        with:
          name: cheqd-testnet-image.tar

      - name: Load testnet image
        run: docker load -i cheqd-testnet-image.tar

      - name: Login to docker
        run: |
          echo ${{ secrets.GH_PAT }} | docker login ghcr.io --username ${{ secrets.GH_USER }} --password-stdin

      - name: Push node image
        run: |
          docker tag cheqd-node ghcr.io/${{ env.GITHUB_REPOSITORY }}:${{ env.VERSION }}
          docker tag cheqd-node ghcr.io/${{ env.GITHUB_REPOSITORY }}:latest
          docker push ghcr.io/${{ env.GITHUB_REPOSITORY }}:${{ env.VERSION }}
          docker push ghcr.io/${{ env.GITHUB_REPOSITORY }}:latest

      - name: Push testnet image
        run: |
          docker tag cheqd-testnet ghcr.io/${{ github.repository_owner }}/cheqd-testnet:${{ env.VERSION }}
          docker tag cheqd-testnet ghcr.io/${{ github.repository_owner }}/cheqd-testnet:latest
          docker push ghcr.io/${{ github.repository_owner }}/cheqd-testnet:${{ env.VERSION }}
          docker push ghcr.io/${{ github.repository_owner }}/cheqd-testnet:latest

      - name: Download deb
        uses: actions/download-artifact@v2
        with:
          name: cheqd-node_${{ env.VERSION }}_amd64.deb

      - name: Download tar
        uses: actions/download-artifact@v2
        with:
          name: cheqd-node_${{ env.VERSION }}.tar.gz

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ env.GITHUB_REF_NAME }}"
          prerelease: true
          files: |
            cheqd-node_${{ env.VERSION }}_amd64.deb
            cheqd-node_${{ env.VERSION }}.tar.gz
